[submodule "libs/lczero-common"]
	path = libs/lczero-common
	url = https://github.com/LeelaChessZero/lczero-common.git
[submodule "pytorch/lc0"]
	path = pytorch/dataloader/lc0
	url = https://github.com/LeelaChessZero/lc0
